  services:

    # 1. Backend (Servicio Principal Node.js - SSR)
    backend:
      build: 
        context: ./backend
      container_name: clima_backend
      restart: unless-stopped
      ports:
        - "${PORT}:3000"
      environment:
        # Variables de CONEXIÓN que el código de Node.js necesita para conectar
        PG_HOST: ${PG_HOST}
        PG_PORT: 5432
        PG_USER: ${PG_USER}
        PG_PASSWORD: ${PG_PASSWORD}
        PG_DATABASE: ${PG_DATABASE}
        
        MONGO_HOST: ${MONGO_HOST}
        MONGO_PORT: 27017
        MONGO_USER: ${MONGO_USER}
        MONGO_PASSWORD: ${MONGO_PASSWORD}
        
        REDIS_HOST: redis
        REDIS_PORT: 6379

        JWT_SECRET: ${JWT_SECRET}
        SESSION_SECRET: ${SESSION_SECRET:-clima-app-secret}
        NODE_ENV: ${NODE_ENV:-development}
        
      depends_on:
        - postgres
        - mongo
        - redis
      volumes:
        - ./backend:/app
        - /app/node_modules
      networks:
        - clima-network
      command: ["pnpm", "start"]


    # 2. PostgreSQL (BD Transaccional - ACID)
    postgres:
      image: postgres:14-alpine
      container_name: clima_postgres
      restart: unless-stopped
      ports:
        - "5432:5432"
      environment:
        POSTGRES_USER: ${PG_USER}
        POSTGRES_PASSWORD: ${PG_PASSWORD}
        POSTGRES_DB: ${PG_DATABASE}
      volumes:
        - postgres_data:/var/lib/postgresql/data
        - ./init/postgres/:/docker-entrypoint-initdb.d/
      networks:
        - clima-network

    # 3. MongoDB (BD de Mediciones)
    mongo:
      image: mongo:7-jammy
      container_name: clima_mongo
      restart: unless-stopped
      ports:
        - "27017:27017"
      environment:
        MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
        MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      volumes:
        - mongo_data:/data/db
        - ./init/mongo/:/docker-entrypoint-initdb.d/:ro
      networks:
        - clima-network

    # 4. Redis (BD de Cache/Sesiones)
    redis:
      image: redis:alpine
      container_name: clima_redis
      restart: unless-stopped
      ports:
        - "6379:6379"
      volumes:
        - redis_data:/data
      networks:
        - clima-network

  volumes:
    postgres_data:
      driver: local
    mongo_data:
      driver: local
    redis_data:
      driver: local

  networks:
    clima-network:
      driver: bridge